<%= form_for(@pricing) do |f| %>
  <% if @pricing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pricing.errors.count, "error") %> prohibited this pricing from being saved:</h2>

      <ul>
      <% @pricing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :object_count %><br />
    <%= f.number_field :object_count %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
