<h1>Listing pricings</h1>

<table>
  <tr>
    <th>Object count</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pricings.each do |pricing| %>
  <tr>
    <td><%= pricing.object_count %></td>
    <td><%= pricing.price %></td>
    <td><%= link_to 'Show', pricing %></td>
    <td><%= link_to 'Edit', edit_pricing_path(pricing) %></td>
    <td><%= link_to 'Destroy', pricing, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pricing', new_pricing_path %>
