<h1>Listing campaigns</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Owner</th>
    <th>End date</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @campaigns.each do |campaign| %>
  <tr>
    <td><%= campaign.name %></td>
    <td><%= campaign.description %></td>
    <td><%= campaign.owner_id %></td>
    <td><%= campaign.end_date %></td>
    <td><%= campaign.status %></td>
    <td><%= link_to 'Show', campaign %></td>
    <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
    <td><%= link_to 'Destroy', campaign, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Campaign', new_campaign_path, :class => 'btn btn-primary' %>
