<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @campaign.name %>
</p>

<p>
  <b>Description:</b>
  <%= markdown @campaign.description %>
</p>

<p>
  <b>Owner:</b>
  <%= @campaign.owner_id %>
</p>

<p>
  <b>End date:</b>
  <%= @campaign.end_date %>
</p>

<p>
  <b>Status:</b>
  <%= @campaign.status %>
</p>


<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
